/*
 * HTML5 Boilerplate reset
 * @url http://html5boilerplate.com/
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
  border-color:#bbbbbb;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; vertical-align:baseline; background:transparent; color:#444444;vertical-align:top; text-decoration:none;}
a:active {color:#006aac; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:inline-block;width:100%;height:1px;border:0;margin:10px 0 20px;background:#dddddd;}
input, select { vertical-align:middle; }
body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
p {margin:0 0;}

a:hover, a:active, a:focus { outline: none; ie-dummy: expression(this.hideFocus=true); }

ul, ol {list-style-type:none; }
ol { list-style-type: decimal; }

ul.present{width: 1400px;}

li.present_li {display: inline-block;}

nav ul, nav li { margin: 0; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; }
sup { vertical-align: super;}

textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0 0 5px red; -webkit-box-shadow: 0 0 5px red; box-shadow: 0 0 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }

/* ERROR PAGE */
.error_container {text-align:center;color: #363636; margin: 20% auto; text-align: center; width: 650px; font-family: 'Open Sans', Arial, Verdana, Helvetica, sans-serif; }
.error_container h1 {box-shadow: none; resize: none; width: 100%; height: 210px; overflow: hidden; line-height: 1em; letter-spacing: 5px; font-family: 'Open Sans', Arial, Verdana, Helvetica, sans-serif; background-color: transparent; border: 0; font-weight: 700; font-size: 12em; text-align: center; text-shadow: -2px -2px 1px #424242, -1px -1px 1px #424242, 1px 1px 1px rgba(41, 41, 41, 0.9), 1px 1px 0 #a3a3a3, 2px 2px 0 #8e8e8e, 3px 3px 0 #7f7f7f, 4px 4px 0 #757575, 5px 5px 0 #686868, 6px 6px 0 #606060, 7px 7px 0 #565656, 8px 8px 0 #4c4c4c, 9px 9px 0 #444444, 10px 10px 0 #3d3d3d, 11px 11px 0 #333333, 12px 12px 1px rgba(45, 45, 45, 0.5), 14px 14px 12px rgba(35, 35, 35, 0.5); }
.error_container h1:focus { outline: none; border: 0; }
.error_container h2 { font-size:28px; text-shadow: 0px 0px 2px #292929; }
.error_container hr { border-top: 1px solid #888888; margin: 18px 0; }
.error_container p { font-size: 15px; line-height: 1; margin-bottom: 18px; }
.error_container ul {display:inline-block; list-style: none; }
.error_container li { float: left;  }
.error_container li a { min-width: 120px; }
