<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.challabros.birdletter.admin.mapper.HeartMapper">

	<select id="todayPresentPopcornInfo" resultType="TodayPresentPopcornInfoDto">
		SELECT * FROM TODAY_PRESENT_POPCORN_INFO	
	</select>
	
	<insert id="insertTodayPresentPopcornInfo">
		INSERT INTO
			TODAY_PRESENT_POPCORN_INFO
			(
				minimum_popcorn,
				max_popcorn
			)
			VALUES
			(
				#{minimumPopcorn},
				#{maxPopcorn}				
			)
	</insert>
	
	<update id="updateTodayPresentPopcornInfo">
		UPDATE TODAY_PRESENT_POPCORN_INFO
		<set>
			minimum_popcorn = #{minimumPopcorn},
			max_popcorn = #{maxPopcorn},
			hour_limit = #{hourLimit},
			minute_limit = #{minuteLimit},
			heart_reward_limit = #{heartRewardLimit}
		</set>
		WHERE idx = #{idx}
	</update>
</mapper>